* {
  box-sizing: border-box;
}

body {
  line-height: 1.9em;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: #222;
}

header {
  background-image: url("../img/cover_photo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 240px 0 35px;
  border-top: 4px solid #000;
  margin-bottom: 70px;
}


h1, h2, h3 {
  font-weight: 400;
}


h1 {
  font-family: "Abril Fatface", cursive, serif;
  width: 700px;
  color: #222;
  line-height: 1.5em;
  font-size: 36px;
  margin: 0 auto;
  padding-top: 0;
}

h1 span {
  font-size: 72px;
}

h2 {
  font-size: 24px;
  margin-top: 8px;
  margin-bottom: 4px;
  padding: 2em 0 2em;
  letter-spacing: 0.1em;
  font-weight: 900;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
  line-height: 1.5em;
  font-weight: 900;
}

h4 {
  font-family: "Merriweather", serif;
  font-size: 15px;
  font-style: italic;
  margin-top: -0.4em;
}

p {
  font-size: 16px;
  margin: 1.4em 0 1.8em;
  line-height: 1.6em;
}

ul {
  margin: 10px 40px 50px;
  list-style-type: square;
}

li {
  line-height: 1.6em;
}

strong {
  font-weight: 600;
}

blockquote {
  font-family: "Abril Fatface", cursive, serif;
  width: 100%;
  position: relative;
  font-size: 48px;
  font-weight: normal;
  line-height: 1.5em;
  padding: 1em;
  color: #fff;
  background-color: #444;
}

blockquote:before {
  content: '“' "";
  position: absolute;
  left: 0;
  top: 24px;
  font-family: "Abril Fatface", cursive, serif;
  font-size: 130px;
}

hr {
  margin: 0 auto;
  border: none;
  border-bottom: 4px solid #0f0f0f;
  width: 58%;
}



/* IMAGES */

img {
  max-width: 100%;
}



/* CLASSES */

.container {
  width: 800px;
  margin: 0 auto;
}

.container-content {
  width: 700px;
  margin: 0 auto;
}

.first-content p,
.first-content li {
  font-size: 20px;
}

.first-content p {
  margin-bottom: 1em;
}

.quote2 {
  margin-top: 50px;
}

.third-content ul {
  margin-bottom: 2em;
}

.fourth-content ul {
  margin-bottom: 2em;
}

.fourth-content ul:last-child {
  margin-bottom: 48px;
}

.footer h2 {
  padding-bottom: 1em;
  margin-bottom: 1em;
}
