@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
*, *:before, *:after {
  margin:0;
  padding:0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
#gallery {
  position:relative;
  width:300px;
  height:400px;
  top:10%;
  margin:0 auto;
  background:white;
  overflow:hidden;
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:   translate3d(0, 0, 0);
  -ms-transform:    translate3d(0, 0, 0);
  -o-transform:     translate3d(0, 0, 0);
  transform:        translate3d(0, 0, 0);
}
#gallery h3 {
  position:absolute;
  top:90px;
  left:0;
  right:0;
  text-align:center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:2rem;
  line-height:3rem;
  font-weight:300;
  color:#333;
  text-transform:uppercase;
  letter-spacing:3px;
}
#gallery h3 span  {
  display:block;
  background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#333));
  background-image:-webkit-linear-gradient(#333, #333);
  background-image:-moz-linear-gradient(#333, #333);
  background-image:-o-linear-gradient(#333, #333);
  background-image:linear-gradient(#333, #333);
  background-size:90px 1px;
  background-repeat:no-repeat;
  background-position:50% 100%;
}
#gallery > figure {
  position:absolute;
  width:100%;
  height:325px;
}
button {
  position:absolute;
  bottom:-75px;
  width:75px;
  height:75px;
  border:0;
  background:#333;
  cursor:pointer;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:2rem;
  font-weight:200;
  color:rgba(255,255,255,0.4);
  z-index:9;
  -webkit-transition:all .15s;
  -moz-transition:all .15s;
  -o-transition:all .15s;
  transition:all .15s;
}
.one button {left:0;}
.two button {left:75px;}
.three button {left:150px;}
.four button {left:225px;}
.one figcaption,
.two figcaption,
.three figcaption,
.four figcaption {
  position:absolute;
  width:100%;
  display:block;
  top:0;
  text-align:center;
  z-index:2;
  -webkit-transform:translateY(400px);
  -moz-transform:translateY(400px);
  -ms-transform:translateY(400px);
  -o-transform:translateY(400px);
  transform:translateY(400px);
  -webkit-transition:all .25s;
  -moz-transition:all .25s;
  -o-transition:all .25s;
  transition:all .25s;
}
figure img {
  position:absolute;
  top:0;
  left:0;
  right:0;
  -webkit-transform:translateY(400px);
  -moz-transform:translateY(400px);
  -ms-transform:translateY(400px);
  -o-transform:translateY(400px);
  transform:translateY(400px);
  -webkit-transition:all .1s;
  -moz-transition:all .1s;
  -o-transition:all .1s;
  transition:all .1s;
}
h4 {
  position:relative;
  display:block;
  width:80%;
  margin:0 auto;
  padding:10px 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:normal;
  font-size:1.5rem;
  color:white;
  text-transform:uppercase;
  letter-spacing:3px;
}
h4:after {
  content:'';
  position:absolute;
  bottom:0;
  left:0;
  width:0%;
  height:1px;
  background:white;
  -webkit-transition:width 0s;
  -moz-transition:width 0s;
  -o-transition:width 0s;
  transition:width 0s;
}
button:focus {
  outline:none;
  color:rgba(255,255,255,1);
}
button::-moz-focus-inner {
  border: 0;
}
button:focus ~ img {
  -webkit-transform:translateY(0px);
  -moz-transform:translateY(0px);
  -ms-transform:translateY(0px);
  -o-transform:translateY(0px);
  transform:translateY(0px);
}
button:focus ~ figcaption {
  -webkit-transform:translateY(0px);
  -moz-transform:translateY(0px);
  -ms-transform:translateY(0px);
  -o-transform:translateY(0px);
  transform:translateY(0px);
  -webkit-transition:all .25s .12s;
  -moz-transition:all .25s .12s;
  -o-transition:all .25s .12s;
  transition:all .25s .12s;
}
button:focus ~ figcaption h4:after {
  width:100%;
  -webkit-transition:all .15s .5s;
  -moz-transition:all .15s .5s;
  -o-transition:all .15s .5s;
  transition:all .15s .5s;
}
body {background:#d6d2d1;}
html, body {
  width:100%;
  height:100%;
}
