html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  max-width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: calibri, arial, sans-serif;
  background-color: #fff;
}


/*** GALLERY STYLES ***/

.container {
  margin: 0 auto;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
}

.gallery-container {
  margin: 0 auto;
  width: calc(100% - 160px);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-gallery {
  width: 80%;
  height: 430px;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  box-shadow: inset 0 0 20px 0 #888;
  opacity: 1;
  overflow: hidden;
  transition: opacity .3s ease;
  background-color: #ddd;
  background-size: cover;
  background-position: center bottom;
}

.main-title {
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  top: 30px;
  transform: translateY(100px);
  opacity: 0;
  transition: all 1s ease;
}

.main-title-fixed {
  transform: translateY(0);
  opacity: .8;
}

.main-title > h1 {
  position: relative;
  font-size: 72px;
  font-family: darleston;
  font-style: oblique;
  color: #444;
  text-shadow: 2px 2px 5px #888;
}

.main-title > h1:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: 10px;
  left: 25%;
  background-color: #444;
  visibility: hidden;
  transform: scaleX(0);
  transition: all .4s ease-in-out 0s;
  transition-delay: .7s;
}

.main-title-fixed > h1:before {
  visibility: visible;
  transform: scaleX(1);
}

.info-box {
  width: 100%;
  position: absolute;
  padding: 8px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: 1;
  transform: translateY(100%);
  transition: all .4s ease;
}

.hidden-box {
  transform: translateY(0);
  opacity: 1;
}

.info-box h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 6px;
}

.info-box p {
  font-weight: 100;
  font-style: oblique;
  padding-bottom: 8px;
}



/* ARROWS */
.arrow {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.15);
}

.arrow img {
  width: 60px;
  height: 60px;
  opacity: .3;
  transition: all .5s;
}

.enable:hover img {
  opacity: .7;
  filter: drop-shadow(2px 2px 2px #fff);
}

.enable:active img {
  width: 56px;
  height: 56px;
}

.left,
.right {
  top: 40%;
}

.right {
  align-self: flex-end;
}



/*** THUMBNAILS ***/

.thumbnails {
  float: left;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  transform: translateX(-50px);
  transition: transform .3s ease-in;
}

.thumbnails:hover {
  transform: translateX(0);
}

#magnet {
  width: 45px;
  height: 45px;
  position: absolute;
  opacity: 1;
  transform: translateX(60px);
  transition: transform .3s ease-in, opacity .2s ease;
}

.thumbnails:hover #magnet {
  opacity: 0;
  transform: translateX(-200px);
}

.thumb {
  width: 60px;
  height: 60px;
  position: relative;
  z-index: 999;
}

.thumb-img {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  background-size: cover;
  transition: filter 0.4s;
}

.thumb:hover .thumb-img{
  filter: grayscale(0);
}

.active {
  filter: grayscale(0);;
}

.thumbnails h1,
.thumbnails h2 {
  width: 110px;
  left: 65px;
  padding-left: 4px;
  position: absolute;
  transform: translateX(-150px);
  opacity: 0;
  box-shadow: 2px 2px 2px #888;
  z-index: -1;
}

.thumbnails h1 {
  font-size: 20px;
  background-color: #edfdff;
  top: 10px;
  font-weight: bold;
  transition: transform 0.3s ease, opacity 0.8s ease, background-color 0.3s ease;
}

.thumbnails h2 {
  top: 30px;
  background-color: #fff;
  font-style: oblique;
  transition: transform 0.5s ease, opacity 0.6s ease;
}

.thumb:hover {
  border-right: 2px solid #25eaff;
}

.thumb:hover h1,
.thumb:hover h2,
.thumbnails:hover .clicked h1,
.thumbnails:hover .clicked h2 {
  transform: translateX(0);
  opacity: 1;
}

.clicked {
  border-right: 2px solid #ff72a4 !important;
}

.clicked h1 {
  background-color: #ff72a4;
}



/* FULL SCREEN MODE */

.click-area {
  position: absolute;
  height: 100%;
  left: 60px;
  width: calc(100% - 120px);
}

.full-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, .9);
  z-index: 999;
}

.full-screen-img {
  max-width: 90%;
  max-height: 100%;
  margin: 2px;
  padding: 2px;
  border: 1px solid #fff;
}

.close {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 16px;
  font-weight: 100;
  font-family: arial, sans-serif;
  letter-spacing: 1px;
  color: #888;
  transition: all .3s ease;
}

.close:hover {
  color: #fff;
  cursor: pointer;
}

.close:active {
  font-size: 15px;
  right: 26px;
}

.full-arrow {
  position: absolute;
  width: 30px;
  opacity: .4;
  transition: opacity .3s ease;
}

.full-enable:hover {
  opacity: 1;
}

.full-enable:active {
  width: 29px;
}

.full-left {
  align-self: flex-start;
  left: 20px
}

.full-right {
  align-self: flex-end;
  right: 20px;
}

























/**/
