html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  max-width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: calibri, arial, sans-serif;
  background-color: #fff;
}


/*** GALLERY STYLES ***/

.container {
  margin: 0 auto;
  height: 100vh;
  position: relative;

  display: flex;
  align-items: center;
}

.gallery-container {
  margin: 0 auto;
  width: calc(100% - 160px);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-gallery {
  width: 80%;
  height: 430px;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  box-shadow: 8px -8px 13px #888;
  transition: opacity 0.3s ease;
  overflow: hidden;

  background-color: #ddd;
  background-size: cover;
  background-position: center bottom;
}

.main-title {
  font-size: 72px;
  font-family: darleston;
  font-style: oblique;

  transform: translateY(100px);
  opacity: 0;
  transition: all 1s ease;

  text-shadow: 2px 2px 5px #888;
  color: #444;
  position: relative;
  bottom: 30px;
}

.info-box {
  width: 100%;
  position: absolute;
  padding: 8px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: 1;

  transform: translateY(100%);
  transition: all .4s ease;
}

.hidden-box {
  transform: translateY(0);
  opacity: 1;
}

.info-box h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 6px;
}

.info-box p {
  font-weight: 100;
  font-style: oblique;
  padding-bottom: 8px;
}

.start-pos {
  transform: translateY(0);
  opacity: .8;
}

/* ARROWS */
.arrow {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.15);
}

.arrow img {
  width: 60px;
  height: 60px;
  opacity: .3;
  filter: drop-shadow(0 0 0 #fff);
  transition: all 0.5s ease;
}

.arrow:hover img {
  opacity: .7;
  filter: drop-shadow(2px 2px 2px #fff);
}

.arrow:active img {
  width: 56px;
  height: 56px;
}

.left,
.right {
  top: 40%;
}

.right {
  align-self: flex-end;
}



/*** THUMBNAILS ***/

.thumbnails {
  float: left;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.thumb {
  width: 60px;
  height: 60px;
  position: relative;
}

.thumb-img {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  background-size: cover;
  transition: filter 0.4s;
}

.thumb:hover .thumb-img{
  filter: grayscale(0);
}

.active {
  filter: grayscale(0);;
}

.thumbnails h1,
.thumbnails h2 {
  position: absolute;
  left: 65px;
  width: 110px;
  transform: translateX(-150px);
  opacity: 0;

  box-shadow: 2px 2px 2px #888;
  z-index: -1;
}

.thumbnails h1 {
  font-size: 20px;
  background-color: #edfdff;
  top: 10px;
  font-weight: bold;
  transition: transform 0.3s ease, opacity 0.8s;
}

.thumbnails h2 {
  top: 30px;
  font-style: oblique;
  transition: transform 0.5s ease, opacity 0.6s;
}

.thumb:hover {
  border-right: 2px solid #25eaff;
}

.thumb:hover h1,
.thumb:hover h2,
.clicked h1,
.clicked h2 {
  transform: translateX(0);
  opacity: 1;
}

.clicked {
  border-right: 2px solid #ff72a4;
}
