html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: calibri, arial, sans-serif;
  transition: all 8s linear;
  background-image: url('../imgs/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



/* MUSIC PLAYER */

.player-box {
  width: 740px;
  height: 500px;
  position: relative;
  margin: 120px auto;
  background-color: #ddd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 19px 0px rgba(168,168,168,1);
}

.container {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.playlist-container {
  width: 100%;
  height: 88%;
  background-color: #3b5998;
  display: flex;
}


.brand {
  font-family: "lobster two";
  background: linear-gradient(to bottom, #4f69a2 40%, #a2bbdb 70%, rgba(255, 255, 255, .5) 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5rem;
  /*text-shadow: 3px -3px 3px rgba(250, 250, 250, .3);*/
  position: absolute;
  left: -90px;
  top: -50px;
  transform: rotateZ(-12deg);
}



/* LEFT SIDE, PLAYLISTS & LOGO */

.left-container {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  border-right: 2px solid #bbb;
}

.left-container__header {
  width: 100%;
  height: 160px;
  position: relative;
  background-color: #293e6a;
  display: flex;
  align-items: flex-end;
}

#player_logo {
  position: absolute;
  top: 0;
  left: 5px;
  width: 120px;
  opacity: .7;
}

.left-container__playlist {
  width: 100%;
  height: calc(100% - 160px);
  background-color: #6e6e6e;
  overflow-y: scroll;
}

.left-container__header__title {
  width: calc(100% - 160px);
  height: 50px;
  padding-left: 1rem;
  padding-right: .8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-container__header__title > h1 {
  font-size: 1.9rem;
  color: #fff;
  z-index: 999;
}

.left-container__header__imgbox {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #fff;
  align-self: center;
  overflow: hidden;
  background-color: #6e6e6e;
}

.left-container__header__imgbox img {
  width: 100%;
}

.left-container__playlist {
  background-color: #3b5998;
}

li {
  width: 100%;
  height: 40px;
  padding: 0 .6rem 0 1rem;
  color: #fff;
  background-color: #4f69a2;
  font-weight: lighter;
  display: block;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all .2s ease;
  cursor: pointer;
}

.odd {
  background-color: #637aac;
}

.selected {
  color: #fff;
  background-color: #77ba9b !important;
}

li:hover {
  background-color: #a0c4b5;
}

.delete-list {
  width: 16px;
  transform: rotateZ(45deg);
  transition: all .3s ease;
}

.delete-list:hover {
  transform: rotateZ(45deg) scale(1.1);
}

.delete-list:active {
  transform: rotateZ(45deg) scale(1);
}



/* RIGHT SIDE, SONGS, TITLES, etc. */

.right-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.right-container__title {
  width: 100%;
  height: 80px;
  padding: 1rem;
  background-color: #293e6a;
  display: flex;
  flex-direction: column;
  position: relative;
}

.right-container__title h1 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: .2rem;
  letter-spacing: .08rem;
  color: #fff;
}

.right-container__title h2 {
  font-family: arial, sans-serif;
  font-size: .9rem;
  color: #999;
  font-weight: 300;
}

.right-container__songs {
  width: 100%;
  height: calc(100% - 80px);
  overflow-y: scroll;
}

.icon {
  width: 25px;
  transition: all .3s ease;
  cursor: pointer;
}

.add-song,
.favorite {
  position: absolute;
  right: 20px;
  bottom: 32px;
}

.add-song {
  right: 55px;
}

.icon:hover {
  transform: scale(1.1);
  opacity: .8;
}



/* CONTROL PANEL */

.control-panel {
  width: 100%;
  height: 12%;
  background-color: #a2bbdb;
  display: flex;
  align-items: center;
  position: relative;
}

.control-panel audio {
  width: 100%;
}

::-webkit-media-controls-panel {
  background-color: #a2bbdb;
}

::-webkit-media-controls-play-button {
  margin: 0 2rem;
  color: red;
}

::-webkit-media-controls-timeline,
::-webkit-media-controls-volume-slider {
  height: 3px;
  background: linear-gradient(to right, #7f2e18 0%, #cd6a50 100%);
}

#thumb {
  background-color: red;
}

::-webkit-media-controls-play-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.controls {
  width: 22px;
  position: absolute;
  transition: all .3s ease;
  cursor: pointer;
}

.controls:hover {
  transform: scale(1.1);
}

.rewind {
  left: 12px;
}

.forward {
  left: 64px;
}



/* POP UPS */
/* add NEW playlist */

.pop-up {
  position: absolute;
  width: 250px;
  height: 130px;
  background-color: rgba(62, 62, 62, .9);
  padding: 10px;
  color: #fff;
  border-radius: 20px;
  box-shadow: 2px 2px 4px #999;
  z-index: 999;
}

.add_new_playlist {
  left: -73px;
  border-bottom-right-radius: 0;
}

.new_playlist__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 16px;
}

.new_playlist__content input {
  width: 100%;
  height: 40px;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 1.6em;
  -webkit-appearance: none;
  border: none;
  font-weight: bold;
}

input:focus {
  outline: none;
}

button {
  cursor: pointer;
}

.new_playlist__content button {
  width: 100px;
  height: 30px;
  color: #fff;
  font-family: "myriad pro";
  font-size: 1.7em;
  border-radius: 3px;
  border: none;
  transition: all .2 ease;
}

.new_playlist__content button:active {
  transform: scale(.99);
}

button:focus {
  outline: none;
}

button {
  transition: all .2 ease;
}

.add-button {
  margin-right: 8px;
  background: linear-gradient(to bottom, #78BB9C 0%, rgba(108,201,80,1) 100%);
}

.add-button:hover {
  background: linear-gradient(to top, rgba(108,201,80,1) 0%, rgba(65,161,38,1) 100%);
}

.cancel-button {
  background: linear-gradient(to top, #cd6a50 0%, rgba(219,72,72,1) 100%);
}

.cancel-button:hover {
  background: linear-gradient(to top, rgba(222,22,22,1) 0%, rgba(219,72,72,1) 100%);
}



/* add NEW song */

select {
  cursor: pointer;
}

select:focus {
  outline: none;
}

.selector-container {
  width: 100%;
}

.playlist-selector {
  width: 100%;
  height: 40px;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 1.6rem;
  font-weight: bold;
  background-color: #fff;
}

::selection {
  background-color: red;
}

.add_new_song {
  border-top-left-radius: 0;
  right: -188px;
  top: 42px;
}

.pop-off {
  display: none;
}
