html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  position: relative;
  background: linear-gradient(0deg, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 98%, rgba(255,255,255,1) 100%);
}

a {
  text-decoration: none;
  color: #2058b5;
}

a:hover {
  text-decoration: underline;
}

em {
  font-style: italic;
}



/******** TOP-NAVIGATION ********/

header {
  height: 80px;
  width: calc(100% - 176px);
  float: right;
  display: flex;
  padding-right: 14px;
  justify-content: flex-end;
  flex-wrap: wrap;
  border-bottom: 1px solid #a7d7f9;
}

header aside {
  display: block;
  margin-top: -6px;
}

header aside ul {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}

header aside li {
  display: inline-block;
  font-size: 12px;
  padding: 4px 4px;
}

.page-menu {
  width: 100%;
  display: flex;
  margin-top: 6px;
  justify-content: space-between;
}

.page-menu div {
  display: flex;
  justify-content: space-between;
}

.page-menu li {
  display: inline-block;
  padding: 0 6px;
  float: left;
  border-owidth: 0 1px 0 0;
  border-style: solid;
  border-image: linear-gradient(to top, #a7d7f9, rgba(0, 0, 0, 0)) 1 100%;
}

ul .active {
  border-left: 1px solid #a7d7f9;
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

.active a {
  color: #000;
}

.active a:hover {
  text-decoration: none;
}

header a {
  font-size: 13px;
  display: block;
  padding: 0.8rem 0rem 0.7rem 0;
}

form {
  display: inline-block;
}

input[type="search"] {
  width: 22vw;
  min-width: 100px;
  height: 26px;
  margin-top: 5px;
  padding-left: 2px;
  font-size: 13px;
  float: right;
  margin-left: 10px;
  background-color: transparent;
  border: 1px solid #aaa;
  border-radius: 0;
}



/******** MAIN CONTENT ********/

#main-container {
  width: 100%;
}

.container {
  width: calc(100% - 176px);
  float: right;
  padding: 20px 24px 24px 24px;
  border-left: 1px solid #a7d7f9;
  border-bottom: 1px solid #a7d7f9;
  background-color: #fff;
}

.content-text > h1 {
  font-family: Georgia, Times, serif;
  font-size: 29px;
  line-height: 1.3em;
  border-bottom: 1px solid #aaa;
}

.title {
  font-size: 21px;
  line-height: 1.3em;
  overflow: hidden;
}

h1~ p~ aside {
  padding: 10px 0 3px 20px;
}

aside > em {
  font-weight: 300;
  font-size: 14px;
}

h2 {
  margin-top: 21px;
  margin-bottom: 5.250px;
}

h3 {
  margin-top: 15px;
  margin-bottom: 10px;
  padding-top: 5px;
  font-size: 17px;
  font-weight: bold;
}

p,
cite,
.text-content__list li {
  font-size: 14px;
  line-height: 22.4px;
  font-weight: normal;
  margin: 7px 0;
}

blockquote {
  padding: 0 40px;
}

blockquote > div {
  padding-left:  22.4px;
}

.text-content__list {
  margin-left: 22px;
}

.text-content__list li {
  list-style-type: none;
  position: relative;
}

.text-content__list li:before {
  content: "•";
  position: absolute;
  left: -14px;
  top: 3px;
  font-size: 22px;
  color: #00528c;
}

.underline {
  border-bottom: 1px solid #aaa;
}

.child-edit {
  margin-top: 21px;
  overflow: hidden;
}

.child-edit h2,
.child-edit h3 {
  display: inline;
  margin-right: 8px;
}

.child-edit span {
  font-size: 13px;
}



/********* BOXES **********/

.info-box {    /* info-box */
  width: 270px;
  float: right;
  background-color: #f9f9f9;
  margin: 6px 0 6px 12px;
  border: 1px solid #aaa;
}

.info-box tr:first-child th {
  font-size: 16px;
  font-weight: bold;
  line-height: 2em;
}

.info-box tr:nth-child(2) td {
  text-align: center;
}

.info-box img {
  width: 220px;
}

.info-box td img~ div {
  font-size: 12px;
  padding-top: 5px;
}

.info-box__sec {
 text-align: left;
 font-size: 12px;
}

.info-box__sec th,
.info-box__sec td {
  line-height: 1.4em;
  padding: 5px;
}

.info-box__sec th {
  font-weight: bold;
}



.site-nav {     /* site-nav */
  width: 124px;
  font-size: 13px;
  line-height: 21.28px;
  background-color: #f9f9f9;
  padding: 7px;
  border: 1px solid #aaa;
}

.site-nav h2 {
  font-weight: 600;
  text-align: center;
}

.site-nav span {
  padding-right: 6px;
}

.site-nav li > ul {
  margin-left: 18px;
}

.site-nav h2 {
  margin-top: 0;
}



.image-box {    /* image-box */
  width: 230px;
  float: right;
  padding: 3px;
  margin: 6px 0 20px 12px;
  border: 1px solid #aaa;
  clear: right;
  text-align: left;
}

.image-box img {
  width: 222px;
  border: 1px solid #aaa;
}

.image-box span {
  font-size: 12px;
  line-height: 1.4em;
}



/******** LEFT NAV STYLES ********/

.main-nav {
  max-width: 176px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 27px;
  background-color: transparent;
  z-index: 100;
}

.main-nav nav {
  padding-bottom: 8px;
}

.main-nav nav~ nav {
  border-top: 2px solid #d8d8d8;
}

.main-nav li {
  padding: 1px 0;
}

.main-nav a {
  font-size: 12px;
}

.main-nav nav h1 {
  font-size: 12px;
  padding: 8px 0;
  color: #4d4d4d;
}

.main-nav nav h1 + ul {
  margin-left: 14px;
}

.main-nav img {
  display: relative;
  max-width: 130px;
  min-width: 116px;
  padding-bottom: 20px;
}
