* {
  box-sizing: border-box;
  font-family: "Times New Roman", serif;
}

body {
  width: 320px;
  margin: 35px;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
}

p {
  font-size: 18px;
  padding: 20px;
  margin: 0px;
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
}

div p:last-child {
  border-bottom: none;
}

div p:hover {
  background-color: #ec6842;
}
